.buttons{
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    width: 12vw;
    height: 9vh;
}
.resultsMain{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}
.hResults{
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.btn{
    color: white;
    text-decoration: none;
}
.parentBtns{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  
    h1.pApp {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.6rem;
    }
  
    input,
    select {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
      padding: 8px 15px;
    }
  
    .app-container {
      padding: 15px;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 480px) {
    h1.pApp {
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.4rem;
    }
  
    input,
    select {
      font-size: 0.8rem;
    }
  
    button {
      font-size: 0.8rem;
      padding: 7px 12px;
      width: 84vw;
      height: 6h;
    }
    .parentBtns{
        display: flex;
        flex-direction: column;
    }
  
    .buttons {
      flex-direction: column;
      align-items: stretch;
      margin-top: 25px;
    }
  
    .buttons button {
      margin: 5px 0;
    }
  
    .app-container {
      padding: 10px;
    }
  
    .progress-bar-container {
      margin-left: 140px;
    }
    .selectApp{
      width: 85vw;
      height: 6vh;
      border: 1px solid gray;
      border-radius: 10px;
    }
    .btnAdvisor{
      width: 80vw;
      height: 4vh;
      text-align: center;
    }
  }